<link rel="stylesheet" href="/styles/my-inquiries.css">

<section class="container">
    {{#if inquiries}}
        <div class="title">
            <h2>My Inquiries</h2>
            <p>You have {{numOfInquiries}} {{#if oneInquiry}}inquiry{{else}}inquiries{{/if}}</p>
        </div>
        
        <div class="inquiries">
            {{#each inquiries}}
                <div class="inquiry">
                    <a href="/property/{{this.propertyId}}">
                        <div class="inquiry-info">
                            <h1>Property</h1>
                            <p>{{this.address}}</p>
                            <h1>Interest shown by</h1>
                            <p>{{this.fName}} {{this.lName}}</p>
                            <h1>Email</h1>
                            <p>{{this.username}}</p>
                            <h1>Phone</h1>
                            <p>{{this.phone}}</p>
                            <h1>Message</h1>
                            <p>{{this.message}}</p>
                            <h1>Date</h1>
                            <p>{{this.createdAt}}</p>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="title-no-inquiries">
            <h1>You have no new inquiries</h1>
        </div>
    {{/if}}
    
</section>

